.panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  //background-color: var(--panelColorNormal);
  //border: 1px solid #444;
  border-radius: 8px;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  
  //backdrop-filter: var(--panelBlur);
}

.header {
  cursor: move;
  padding: 10px;
  background: linear-gradient(135deg, rgba(30, 30, 30, 0.95), rgba(45, 45, 45, 0.95));
  backdrop-filter: var(--panelBlur);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 1.5vw;
  color: var(--accentColorNormal);
  font-weight: bold;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--accentColorNormal);
}

.exitbutton FormattedText {
  color: white;
}

.content {
  flex: 1 1 auto;
  padding: 10px;
  overflow: auto; 
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(30, 30, 30, 0.95), rgba(45, 45, 45, 0.95));
}

.resizer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: nwse-resize;
  background: linear-gradient(45deg, transparent 50%, white 50%);
 
}
